/*
* Variant: Rosé Pine Moon
* Maintainer: DankChoir
*/

@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #856cd9;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

* {
  font-family: Hack Nerd Font;
  font-size: 14px;
  min-height: 0;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

#waybar,
tooltip,
#tray menu, 
#tray menu menuitem {
  background-color: alpha(@surface, 0.85);
  padding: 0.5rem 0;
  margin-bottom: 0;
  border-bottom: 2px solid shade(@iris, 1);
  color: @text;
  border-radius: 0 0 0 0;
}

tooltip {
  border: 2px solid shade(@iris, 1);
}

#waybar {
  background: linear-gradient(0deg, alpha(@base, 0.5) 0%,alpha(@base, 0.85) 100%);
  color: @text;
}

.modules-right,
.modules-left,
.modules-center {
  margin: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 6px;
}

#tray menu {
  border-radius: 2px 2px 2px 2px;
  border: 2px solid shade(@iris, 0.5);
}

#tray menu menuitem {
  border-radius: 0 0 0 0;
  border-top: none;
  border-bottom: none;
  background: none;
  margin: 0 0;
  padding: 0 0;
}

#tray menu menuitem:hover {
  color: @text;
  background: alpha(@iris, 0.2);
}

#battery.charging {
  color: @pine;
}

#battery.warning:not(.charging) {
  color: @rose;
}

